.list-group-item {
     line-height: 1;
}
.container {
     text-align: center;
}
   
html, body {
     height: 100%;
     width: 100%;
}
   
.jumbotron {
     text-align: center;
}

label.skills-label {
    display: inline-block;
    width: 50%;
    max-width: auto;
    margin-left: 20px;   
}

input.form-control.skills {
     display: inline-block;
     width: 25%;
}

label.armor-label {
     display: inline-block;
     width: 25%;
}