.navbar {
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important
}

html, body {
  height: 100%;
  width: 100%;
}

.container {
  text-align: center;
}

.list-group-item {
  line-height: 1;
}

.wrapper-1{
  background-color: #666;
}

.card1 {
  color: #fff;
}

.row2 {
  background-color: red;
  color: #fff;
  padding-top: 1.3rem;
}
.jumbotron {
  text-align: center;
  background-color: black;
  color: #fff;
}

label.skills-label {
 display: inline-block;
 width: 50%;
 max-width: auto;
 margin-left: 20px;   
}

input.form-control.skills {
  display: inline-block;
  width: 25%;
}

label.armor-label {
  display: inline-block;
  width: 25%;
}

hr {
  line-height: 1px;
  width: 90%;
}